.button {
    width: 180px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
    background: #0b67a9;
    color: #fbfbfb;
    cursor: pointer;
    font-family: "HealTheWeb";
}
.button:hover {
   background: #052d49;
   
    
}


.buttonDisabled {
    font-family: "HealTheWeb";
    width: 180px;
    padding: 0.5rem 1rem;
    cursor: not-allowed;
    opacity: 0.6;
    border-radius: 2rem;
    border: none;
    background: #0b67a9;
    color: #fbfbfb;
}