@font-face {
  font-family: 'HealTheWeb';
  src: url('./fonts/HealTheWebA-Regular.otf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: 'Geist';
  src: url('./fonts/Geist-Light.otf') format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'Geist';
  src: url('./fonts/Geist-Bold.otf') format('opentype');
  font-weight: 700;
}

body {
  font-family: 'HealTheWeb';
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

input {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  font-family: HealTheWeb;
  font-size: 1rem;
 }


.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-bottom: 3rem;
}

.title {
  font-size: 4rem;
  margin: 0 0 2rem 0;
}

.search-results {
  width: 100;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 0 2rem;
}

.left-side {
  flex: 1;
}

.right-side {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}